.cli-status {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    min-width: 200px !important;
    width: 25%;

    .panel-heading {
        background-color: #1abc9c !important;
        display: block;
        height: 38px;
    }

    .terminal {
        height: 500px;
    }
}
