.list-tree {

    &.entries {
        margin-top: 20px;
    }

    .list-nested-item {
        & > .list-item {
            &:before {
                left: 5px;
            }
        }

        &:before {
            background-color: #1abc9c;
            height: 38px;
        }
    }

    .list-item {
        &.header {
            span.name {
                &.icon-repo {
                    display: inline-block;
                    margin-top: 5px;
                    margin-left: 5px;
                }
            }
        }
    }
}

.cli-status {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    min-width: 200px !important;
    width: 25%;

    .panel-heading {
        background-color: #1abc9c !important;
        display: block;
        height: 38px;
    }

    .terminal {
        height: 500px;
    }
}
